body {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

image {
    display: block;
    height: auto;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
}

.logo {
    display: flex;
    gap: 16px;
    margin-right: 237px;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-list-item {}

.nav-list-link {
    padding: 26px 0;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
}

.btn-list {
    display: flex;
    gap: 21px;
    margin-left: auto;
    align-items: center;
}

.list-btn-item {}

.list-btn-sign-in {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    width: 105px;
    height: 42px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    background: transparent;
}

.list-btn-sign-up {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background: #02897a;
}

.hero .container {
    display: flex;
    gap: 35px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.hero-text-container {
    padding-top: 112px;
}

.hero-img {}


.hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #22343d;
}

.hero-title-dscr {
    margin-top: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #22343d;
}

.hero-btn-list {
    display: flex;
    margin-top: 45px;

}

.hero-list-item {}

.hero-list-btn-get {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background: #02897a;
}

.hero-list-btn-watch {
    width: 164px;
    height: 23px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background: transparent;
}

.features .container {
    padding-top: 50px;
    padding-bottom: 50px;
}


.features-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
}

.features-list {
    display: flex;
    gap: 30px;
}

.features-list-item {
    margin-top: 50px;
}

.features-list-header {
    margin-top: 18.11px;
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}

.features-list-dscr {
    margin-top: 13px;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
}

.features-sign-up-button {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #02897a;
    margin-top: 50px;
}

.section-managment {}

.section-managment .container {
    display: flex;
    gap: 84px;
    padding-top: 91px;
    padding-bottom: 50px;
}

.managment-text-container {}

.section-title-small {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.section-title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 32px;
    color: #22343d
}

.section-dscr {
    margin-top: 25px;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
}

.section-list {
    margin-top: 30px;
}

.section-list li:first-child {
    margin-top: 0;
}

.section-list-item {
    margin-top: 25px;
}

.section-list-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
}

.section-list-dscr {
    font-size: 16px;
    margin-top: 12px;
    line-height: 162%;
    color: #22343d;
}

.section-img-big {}

.section-customer-support {}


.section-customer-support .container {
    display: flex;
    gap: 84px;
    padding-top: 91px;
    padding-bottom: 50px;
}

.list-cntr .section-list-item {
    display: flex;
    gap: 30.06px;
    align-items: center;
}

.section-collaborative {}

.section-collaborative .container {
    display: flex;
    gap: 84px;
    padding-top: 91px;
    padding-bottom: 75px;
}

.section-process .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 50px;
}

.section-process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.process-dscr {
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
}

.expert-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 100px;
    margin-bottom: 50px;
    padding-left: 97px;
    padding-right: 97px;
}

.expert-item {
    width: calc((100% - 100px) / 2);

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.expert-dscr {
    width: 281px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    border-radius: 25px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    padding-top: 14px;
}

.expert-img {}

.contact-btn {
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.secrtion-strategy .container {
    padding-top: 50px;
    padding-bottom: 85px;
}

.strategy-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.strategy-dscr {
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
    margin-bottom: 40px;
}

.strategy-list {
    display: flex;
    gap: 30px;
}

.strategy-list-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    padding-bottom: 40px;
}

.strategy-list-item-info {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
    margin-left: 24px;
}

.strategy-info-accent {
    font-weight: 700;

}

.strategy-list-item-dscr {
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: #22343d;
    margin-left: 27px;
}

.strategy-list-item-img {
    margin-bottom: 24px;
}

.section-price .container {
    padding-top: 85px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.price-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.price-dscr {
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 40px;
}

.price-list {
    display: flex;
    gap: 72px;
    width: 100%;
}

.price-list-item {
    width: calc((100% - 72px * 2) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.price-list-item.accent {
    background-color: #02897a;
}


.price-item-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: #22343d;
}

.price-item-dscr {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 250%;
    color: #22343d;
}

.item-price {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 132%;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.price-sign {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0em;
    color: #02897a;
    margin-bottom: 4px;
}

.item-price-info {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 119%;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.price-wrap {
    display: flex;
    gap: 7px;
    margin-bottom: 16px;
}

.price-wrap-small {
    padding-top: 24px;
}

.price-info-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;

}

.price-info {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    letter-spacing: 0.01em;
    color: #22343d;
}

.white-accent {
    color: #fff;
}

.order-now-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background-color: #02897a;
}

.order-now-btn.accent-btn {
    background-color: #fff;
    color: #02897a;

}

.section-feedback .container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 178%;
    letter-spacing: 0.01em;
    color: #22343d;
    margin-bottom: 10px;
}

.feedback-dscr {
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
}

.feedback-list {
    display: flex;
    gap: 64px;
}

.feedback-list-item {
    width: calc((100% - 64px * 2) / 3);
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
}

.item-img-stars {
    margin-bottom: 16px;
}

.features-list-item-dscr {
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    color: #737373;
    margin-bottom: 16px;
}

.feedback-wrap {
    display: flex;
    gap: 14px;
}

.designer-img {}

.designer-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #02897a;
}

.designer-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color: #252b42;
}

.section-join .container {
    padding-top: 50px;
    padding-bottom: 100px;
}

.join-wrapper {
    margin-left: 71px;
    margin-right: 71px;
    border-radius: 32px;
    background-color: #02897a;
    display: flex;
    padding-bottom: 10px;
    padding-top: 4px;
    padding-left: 51px;
    padding-right: 46px;
}

.join-info-wrapper {
    padding-top: 49px;
}

.join-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 151%;
    color: #fff;
    margin-bottom: 46px;
}

.btn-get-this {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
}

.join-img {}

.footer .container {
    display: flex;
}

.logo-social-wrap {
    margin-right: 146px;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    margin-bottom: 18px;
    margin-right: 0;

}

.social-list {
    display: flex;
    gap: 16px;
}

.social-list-item {}

.social-list-link {}

.social-list-img {}

.resourses-list {
    margin-right: 129px;
}

.resourses-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #22343d;
}

.resourses-item {
    font-size: 16px;
    line-height: 219%;
    color: #22343d;
}

.legal-list {
    margin-right: 83px;
}

.legal-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #22343d;
}

.legal-item {
    font-size: 16px;
    line-height: 219%;
    color: #22343d;
}

.footer-last-wrap {}

.footer-info {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #22343d;
    margin-bottom: 19px;
}

.footer-input {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    margin-bottom: 36px;
}

.footer-btn {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #02897a;
    width: 131px;
    height: 39px;
}